@mixin section-block($content-name) {
  .section-block {
    margin-bottom: 30px !important;
    a {
      color: #db6d42;
      text-decoration: none;
      transition: 0.3s;
      &:visited {
        color: #db6d42;
      }
      &:hover {
        color: #ff0000;
      }
    }
    .section-header {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      //font-family: "Noto Serif TC", serif;
      font-family: "Noto Sans TC", sans;
      z-index: 1;
      padding: 5px 15px;
      background: #222222;
      box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.8);
      h2 {
        .title-icon {
          color: white;
          margin-right: 10px;
        }
        color: #ffca34;
        position: relative;
        font-size: 1.5em;
        font-weight: 600;
      }
      label {
        color: gray;
        margin-left: auto;
      }
    }
    #{$content-name} {
      padding: 15px 20px 25px 20px;
      margin: 0 10px !important;
      background: #fff;
      height: calc(100% - 70px - 1.5em);
      font-weight: 300;
      p {
        padding: 8px 0px;
        .p-icon {
          margin-right: 5px !important;
        }
        em,
        strong {
          font-weight: 700;
          text-decoration: underline;
          font-style: normal;
        }
        ins {
          text-decoration: none;
          color: #db6d42;
          font-weight: 700;
        }
      }
    }
  }
}
