$default-background-color: #4c7084;
$footer-color: #dbb682;
$nav-header-height: 50px;
$nav-header-space: $nav-header-height * 2 + 20px;
$mobile-nav-header-space: $nav-header-height * 1.2 + 20px;
$mobile-width: 1023px;
@mixin with-mobile() {
  @media all and (max-width: $mobile-width) {
    @content;
  }
}
@mixin with-not-mobile() {
  @media all and (min-width: $mobile-width + 1) {
    @content;
  }
}
